.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
    background: white;
    margin: 20px 0px;
    border-radius: 10px;
}
.mainimg{
    max-width: 600px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 39px 0px;
}
.box-detail{
    max-width: 600px;
    width: 100%;
    margin: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 8px;

}
.box-detail .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.pricebox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 232, 229);
    height: 150px;
    margin-right: 20px;
}
.pricebtn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    height: 150px;
}
.pricebox span{
    font-size: 40px;
    color: #263575;
    margin-top: 20px;
}
.pricebox p{
    font-size: 35px;
}

.box-detail h2{
    text-transform: uppercase;
    color: rgb(7, 128, 165);
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box-detail p{
    line-height: 1.5;
    margin: 25px 0;
    opacity: 0.8;
}
.box-detail .cart{
    background: crimson;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
    box-shadow: rgba(76, 76, 87, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.box-detail .cart:hover{
    opacity: 0.5;
}
.title{
    font-weight: bold;
    color: #263575;
    font-style: italic;
}

.wishlistbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#btn_buy_ws{
    width: 49%;
    margin-bottom: 20px;
    height: 50px;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color:#fff;
    font-size: 18px;
    transition: 0.5s;
}
#btn_view_ws{
    width: 49%;
    margin-bottom: 20px;
    height: 50px;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color:#fff;
    font-size: 18px;
    transition: 0.5s;
}
#btn_view_ws:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}
#btn_buy_ws:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}
.pagename{
    margin: 20px 0;
    font-size: 20px;
    text-shadow: #FC0 1px 0 10px;
}
.wishlistbtn{
    margin-top:15px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
}
.ws{
    color: black;
    font-size: 20px;
   
}
.ws:hover{
    color:#263575;
}

.wsicon{
    width:30px;
    height: 30px;
    margin-left: 30px;
}
.descriptionproduct{
    width:100%;
    display: flex;
    flex-direction: column;
    border-top: 00.5px solid rgb(202, 200, 200);
}
.dpdata{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.dpdata span{
    font-size: 25px;
    font-weight: 600;
}

.linkimgs{
    margin-left: 150px;
    color: #263575;
    font-style: italic;
}
.linkimgs:hover{
    color: black;
    font-weight: 600;
}
.productimg{
    max-width: 800px;
    height: 800px;
    object-fit: cover;
}