.history-page{
    overflow-x: auto;
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.history-page table{
    margin: auto;
    width: 100%;
}
.history-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
}

.imgmota{
    width: 70px;
    height: 100px;
    object-fit: cover;
}
.alert{
    margin: 20px 0;
    background: rgb(161, 196, 127);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.alerticon{
    width: 60px;
    height: 60px;
}
.wait{
    background: rgb(216, 34, 71);
}
.submitbtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.shipbtn{
    width: 200px;
    height: 50px;
    background-color: crimson;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}

.warning{
    background-color: darkgoldenrod;
    padding: 15px 0;
}